<h2 id="titulo">Usuarios</h2>
<button class="btn btn-warning">Nuevo</button>

<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">E-mail</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Cumpleaños</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.name}}</td>
      <td>{{user.last}}</td>
      <td>{{user.birthday}}</td>
      <td>{{user.role}}</td>
      <td><button class="btn btn-danger">Inactivar</button><button class="btn btn-success">Editar</button></td>
    </tr>
  </tbody>
</table>
