<div class="container">
  <h2 class="title text-primary text-opacity-50">Usuarios</h2>
<button class="btn btn-primary">Nuevo</button>


<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Rol</th>
      <th scope="col">Cumpleaños</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.name }}</td>
      <td>{{user.last}}</td>
      <td>{{user.role}}</td>
      <td>{{user.birthday}}</td>
      <td><button class="btn bnt-warning">Modificar</button><button class="btn btn-primary">Eliminar</button></td>
    </tr>
  </tbody>
</table>

</div>
