<div class="container-fluid bg-dark">
  <div class="row">
    <!-- Logo -->
    <div class="col-2">
      <img routerLink="/" src="/assets/javerianalogo.png" />
    </div>

    <div class="col-1"></div>

    <!--Boton Usuarios-->
    <div class="col-1">
      <button type="button" class="btn btn-dark" routerLink="/users">
        <span>Users</span>
      </button>
    </div>
    <!--Boton Herramientas-->
    <div class="col-1">
      <button type="button" class="btn btn-dark" routerLink="/tools">
        <span>Tools</span>
      </button>
    </div>

    <div class="col-1"></div>



    <div class="col-4">
      <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input
        class="align-middle"
        type="text"
        class="search"
        id="search"
        placeholder="Search"
        formControlName="search"
      />
      <button type="submit" class="btn btn-dark" >Search</button>
      </form>
    </div>

    <div *ngIf="!userLoggedIn" class="boton-elemento col-1">
      <button type="button" class="btn btn-outline-light" routerLink="/login">
        <span>Log In</span>
      </button>
    </div>

    <div *ngIf="userLoggedIn" class="boton-elemento col-2">
      <button
        type="button"
        class="btn btn-outline-light"
        routerLink="/user-profile"
      >
        <span>Mi perfil</span>
      </button>
    </div>
  </div>
</div>
